<html>
<head>
    <%- include('partials/head')  %> 
    <title>FFL Home</title>    
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container">
            <h1>Do you have any new story!<a href="/newfeed">Upload here.</a></h1>
           <center> <h1><%= para  %> </h1></center>
           <div class="container2">
            <h1>Plase Follow these below instructions</h1>
               <li>If you want to upload any thing fill all the fields. </li>
               <li>After your upload you can find the post here.</li>
               <li>Write any thing you feel 😊!</li>
           </div>
       <% for(var i=stream.length-1;i>=0;i--){ %>
            <div class="container2">
            <h1><%= stream[i].name %></h1>
               <p><%= stream[i].content%></p>
           </div>
      <% } %> 
        </div>
    </main>
    
</body>
</html>