<html>
<head>
    <%- include('partials/head')  %> 
    <title>FFL Home</title>    
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container" id="container">
            <h1>Wanna share your skills?<a href="/newfeed"> here.</a></h1>
           <center> <h1><%= para  %> </h1></center>
           <div class="container2">
            <h1>Agenda!</h1>
               <li>Help your friends with your knowledge </li>
               <li>List  the skills which you think can help others</li>
               <li>Learn by contacting through the email</li>
           </div>
       <% for(var i=stream.length-1;i>=0;i--){ %>
            <div class="container2">
           <label>Email:</label>
           <a href=mailto:<%= stream[i].name %>?subject=I%20would%20like%20to%20%learn> <%= stream[i].name %></a>
           <br>
              <label>Skills:</label><div id="capitall">
                <%= stream[i].content%>
              </div>
           </div>
      <% } %> 
        </div>
    </main>
    <script>
         document.getElementById("checkbtn").onclick = function() {
           var x= document.getElementById("container") ;
           if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
        }
    </script>
    
</body>
</html>