<html>
<head>
    <%- include('partials/head')  %> 
    
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container">
            <h1><%= User %></h1>
       <% for(var i=0;i<stream.length;i++){ %>
            <div class="container2">
            <h1><%= stream[i] %></h1>
               <p><%= content[i]%></p>
           </div>
      <% } %> 
        </div>
    </main>
    
</body>
</html>